.footer-only{
    background-color: #f2f2f2;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,\5b8b\4f53,sans-serif;
}
.footer-only li{
    display: inline-block;
    margin-left: 60px;
}
.footer-only li a{
    text-decoration: none;
    color: #a08450;
    font-weight: bold;
}
li.word_active a{
    color: #1b1b1b;
}
.extra-container{
    background-color: #f2f2f2;
    overflow: hidden;
    /*height: 0;*/
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 98;
    transition-property: height;
    transition-duration: 900ms;
    transition-timing-function: cubic-bezier(0.19,1,0.22,1);
    /*border-top:solid 1px rgba(28,34,41,.1);*/
}
.extra-container>.close{
    display: block;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    margin: 5px auto 0;
    padding: 10px;
    border: 0;
    background-color: transparent;
    background-image: url(../images/skin-data/close.png);
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 300ms;
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    cursor: pointer;
}
.instructions{
    margin-top: 20px;
    text-align: center;
}
.instructions .inner{
    font-size: 12px;
    text-transform: uppercase;
}
.instructions .inner:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin: 0 10px;
    background-image: url(../images/skin-data/carrots-left.png);
    background-size: 100%;
}
.instructions>.inner .text{
    vertical-align: middle;
    letter-spacing: 2px;
}
.slider-container{
    margin: 15px 60px 20px;
}
.view-component-navigation-point-slider{
    position: relative;
}
.view-component-navigation-point-slider .slider{
    position: relative;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.view-component-navigation-point-slider .slider .sides{
    height: 65px;
    border: 1px solid #c4b998;
    border-top: 0;
    border-bottom: 0;
}
.view-component-navigation-point-slider .slider .line{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 1px;
    background-color: #c4b998;
}
.view-component-navigation-point-slider .slider .thumb.back{
    background-image: url(../images/skin-data/thumb.png);
    background-size: 100%;
}
.view-component-navigation-point-slider .slider .point-container{
    position: absolute;
    left: calc(50% - 890px);
    top: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform .5s;
}
.view-component-navigation-point-slider .slider .point-container .point{
    float: left;
    position: relative;
    width: 80px;
    margin: 0;
    padding: 0;
}
.view-component-navigation-point-slider .slider .thumb{
    position: absolute;
    top: 5px;
    left: 50%;
    cursor: pointer;
    width: 54px;
    height: 58px;
    margin-left: -27px;
}

[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
    touch-action-delay: none;
}

.view-component-navigation-point-slider .slider .thumb>.icon {
    width: 50px;
    height: 50px;
    margin: 2px 0 0 2px;
    border-radius: 100%;
    background-size: 100%;
}
.view-component-navigation-point-slider .slider .point-container .point .label {
    position: absolute;
    opacity: 0;
    transition: opacity 200ms ease-in-out,color 200ms ease-in-out;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 16px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
}
.uppercase {
    text-transform: uppercase;
}

.view-component-navigation-point-slider .slider .point-container .point .button {
    display: block;
    width: 100%;
    height: 30px;
    margin: -13px auto 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

.view-component-navigation-point-slider .slider .point-container .point.minor .button .icon {
    width: 13px;
    height: 13px;
    -ms-transform: scale(0.666);
    transform: scale(0.666);
    border-radius: 100%;
    background-color: #c4b998;
}
.view-component-navigation-point-slider .slider .point-container .point .button .icon {
    display: inline-block;
    transition: transform 300ms ease-in-out;
}
button{
    outline:none;
    cursor:  pointer;
}
.view-component-navigation-point-slider .slider .point-container .point.major .button .icon {
    width: 9px;
    height: 9px;
    border: 3px solid #c4b998;
    background-color: white;
    -ms-transform: scale(0.8) rotate(45deg);
    transform: scale(0.8) rotate(45deg);
}

.view-component-navigation-point-slider .slider .point-container .point .button .icon {
    display: inline-block;
    transition: transform 300ms ease-in-out;
}
.view-component-navigation-point-slider .slider .point-container .point .button .icon:hover{
    -ms-transform: scale(1.3) rotate(135deg);
    transform: scale(1.3) rotate(135deg);
}
.extra-container>.close:hover{
    -ms-transform: scale(.7) rotate(180deg);
    transform: scale(.7) rotate(180deg);
}

.view-edge-navigation .action.previous.previous, .view-edge-navigation .action.next.previous {
    left: -80px;
    top: calc(50% - 40px);
    border-left: 0;
}
.view-edge-navigation .action.previous, .view-edge-navigation .action.next {
    position: fixed;
    background-color: rgba(245,241,230,0.1);
}