*{
    margin: 0;
    padding: 0;
}
#pic_play{
    margin-left:400px;
    margin-top: 100px;
    position: relative;
    width: 790px;
    height: 340px;
}
#pic_play img{
    position: absolute;
    left: 0;
    top:  0;
    width: 790px;
    height: 340px;
    border: none;
}
.left_btn{
    position: absolute;
    left: 0;
    top:150px;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.4);
    font-size: 25px;
    text-align: center;
    padding: 25px 12px;
    cursor: pointer;
}
.right_btn{
    position: absolute;
    right: 0;
    top:150px;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.4);
    font-size: 25px;
    text-align: center;
    padding: 25px 12px;
    cursor: pointer;
}
.display{
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
}
.bottom_btn{
    position: absolute;
    bottom: 10px;
    left: 300px;
    padding: 10px 20px;
    height: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px ;
}
.bottom_btn div{
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-right: 10px;
    cursor: pointer;
}
.bottom_btn .bottom_btn_last{
    margin-right: 0;
}


