.nav-left img{
    width: 1.5rem;
    height: .39rem;
}
.nav{
    padding: .3rem .3rem;
    text-align: center;
    line-height: .5rem;
    background-color: white;
}
body{
    font-size: .5rem;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.nav-center{
    font-size: .4rem;
    display: inline-block;
    position: relative;
    top:-.02rem;
}
.nav-right img{
    width: .45rem;
    height: .45rem;
}

/*轮播图*/
.swiper-container img{
    width: 100%;
}

.pic-car{
    margin-top: .3rem;
}
/*center-head*/

.center-head li a{
    color: #2a2a2a;
    font-size: .25rem;
    text-decoration: none;
}
.center-head li{
    text-align: center;
    display: inline-block;
    margin-left: .5rem;
    margin-top: .5rem;
}
.center-head img{
    width: .8rem;
    height: .8rem;
}

/*center-content*/
.center-content>img{
    width: 100%;
    margin-top: .4rem;
}
.center-content li{
    display: inline-block;
    width: 31.9%;
}
.center-content li img{
    width: 100%;
}
.cl{
    clear: both;
}
/*list*/
.list-head{
    height: .5rem;
    font-size: .33rem;
    margin: .3rem 0;
}
.list-head img{
    height: 80%;
}
.list-body{
    font-size: .3rem;
}
.list-body div{
    overflow: hidden;
}
.list-body-left{
    width: 45%;
    padding-left: .3rem;
}
.list-body-right{
    width: 50%;
}
.red_span{
    background-color: #f0415f;
    color: white;
}
.red_word{
    color: #f0415f;
}
.gray{
    color: #a6a6a6;
}
.body-left-top{
    line-height: .6rem;
}
.body-left-top img{
    width: 60%;
}
.body-left-bottom{
    width: 100%;
    line-height: .6rem;
}
.body-left-bottom>div,.list-body-right>div>div{
    width: 50%;
}
.body-left-bottom img,.list-body-right>div img{
    width: 100%;
}
.list-body-right>div{
    margin-top: .33rem;
}
.list-body-right>div{
    line-height: .45rem;
}


/*手机*/
.list-01-body>div{
    width: 50%;
    text-align: center;
    font-size: .3rem;
    line-height: .6rem;
}
.circle{
    width: .63rem;
    height: .63rem;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    top:3%;
    right:10%;
}
.ad{
    margin: .3rem 0;
}
.text-overflow{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*color: #333;*/
    /*font-size: 13px;*/
    font-weight: 400;
}
.text-overflow_inline{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.ad-car-01{
    margin: .4rem 0;
}

/*footer*/
.footer{
    font-size: .25rem;
    color: #7a7a7a;
    line-height: .5rem;
    overflow: hidden;
    background-color: #eee;
    padding: .3rem 0;
}
.footer img{
    height: 1rem;
    width: 1rem;
}
.fix-top{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    bottom:.3rem;
    right: .3rem;
    height: .8rem;
    width: .8rem;
    z-index: 2;
}
.fix-top img{
    height: .8rem;
    width: .8rem;
}